.App {
  text-align: center;
}
.red {
  color: red;
}
.bold {
  font-weight: bold;
}

.Button {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: 1px solid #cccc;
}
.Button:hover {
  background-color: lightgreen;
  color: black;
  border: 1px solid green;
  cursor: pointer;
}
.Button.Red {
  background-color: red;
}
.Button.Red:hover {
  background-color: salmon;
}