.Person {
    width: 60%;
    margin: 10px auto;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    padding: 10px;
}
.PersonName {
    background-color: white;
}
.PersonName:hover{
    cursor: pointer;
    background-color: tomato;
    color: white;
    border: 1px solid red;

} 
@media (min-width : 500px) {
    .Person {
        width: 450px;
    }
}